<article class="login">
  <form class="login__content">
    <mat-form-field appearance="outline" class="login__input">
      <mat-label>email</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="login__input">
      <mat-label>password</mat-label>
      <input matInput placeholder="Placeholder" />
    </mat-form-field>

    <button type="submit" mat-flat-button color="primary" class="login__submit">
      login
    </button>

    <section class="login__redirect">
      <a [routerLink]="['/register']"> register</a>
    </section>
  </form>
</article>
